<app-toolbar [title]="'Profile'"></app-toolbar>
<ion-content>
	<h2 style="text-align: center; color: rgb(156, 156, 156)">
		Bienvenido a Tu Perfil
	</h2>

	<ion-card>
		<ion-card-header>
			<ion-card-title>Datos del Usuario</ion-card-title>
			<ion-card-subtitle
				>La informacion a continuación, corresponde a tu perfil y los
				datos que nos haz proporcionado.</ion-card-subtitle
			>
		</ion-card-header>
		<ion-card-content>
			<!-- <ion-item>
				<ion-label>Customer</ion-label>
				<ion-input [value]="userData.custumerName" readonly></ion-input>
			</ion-item> -->
			<ion-item>
				<ion-label>Phone</ion-label>
				<ion-input [value]="userData.phoneNumber" readonly></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Email</ion-label>
				<ion-input [value]="userData.userEmail" readonly></ion-input>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
